#adminOptions .nav-link.active.ActiveOption {
    color: white !important;
}

.indent-logout {
    height: 100vh;
}

.admincard {
    border: none !important;
    box-shadow: 0 0 10px rgb(231, 230, 230);
}
