:root {
    --darkest-blue: #04235a;
    --darker-blue: #064490;
    --dark-blue: #2686e0;
    --blue: #41a8f9;
    --light-blue: #68cafb;
    --lighter-blue: #aeecfb;
}

#contact {
    font-family: "Poppins", sans-serif;
}

.btn-contact {
    background-color: var(--darker-blue) !important;
    padding: 10px 15px !important;
}

.btn-contact:hover {
    background-color: var(--dark-blue) !important;
}

.btn-contact a {
    color: white !important;
}

.contact-label {
    font-size: 0.85rem;
    color: var(--darker-blue);
    font-weight: bold;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
