:root {
  --darkest-blue: #04235a;
  --darker-blue: #064490;
  --dark-blue: #2686e0;
  --blue: #41a8f9;
  --light-blue: #68cafb;
  --lighter-blue: #aeecfb;
}

.legal-inactive {
  background-color: rgb(239, 237, 237) !important;
  color: var(--dark-blue) !important;
}

.legal-inactive:hover {
  color: var(--darker-blue) !important;
}

.legal-active {
  background-color: var(--darker-blue) !important;
}

.legal-head {
  font-family: "Antonio", sans-serif;
  font-weight: bold !important;
}

.bold {
  font-weight: bold;
}

.legal-text {
  font-family: "Poppins", sans-serif;
}
