:root {
    --darkest-blue: #04235a;
    --darker-blue: #064490;
    --dark-blue: #2686e0;
    --blue: #41a8f9;
    --light-blue: #68cafb;
    --lighter-blue: #aeecfb;
}

#roofType,
#gutterSize,
#gutter_guard,
#gutterLength,
#areaSize,
#algae,
#powerwashType {
    border-color: var(--blue) !important;
}
